<body style='background-color:gray;'>

<br>
<br>
<h1>{{board.title}}</h1>
<hr>

<table >
    <tr>
        <td><img src='{{board.image.url}}' height = 300px width = 300px>
        <td style='padding: 15px;'>{{board.body}}
    </tr>
</table>
<br>

<br>
<a href="{% url 'board' %}"><button type="button" style="float: right;">목록으로</button></a>

    <form method="POST" action='{% url "createcomment" board.id %}'>
        <div style = 'margin-left: 10px;'>
            <h2> 댓글 작성하기</h2>
            <hr>
            <h3> 작성자 </h3>
            <input type="text" style = "height:40px;" name="author"> 
            <h3> 내용 </h3>
            <textarea  name="text" cols = "100" rows="9"></textarea
        </div>
        {% csrf_token %}
        <br>
        <br>
        
        <div align='right'>
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
        <br>
        <br>
    </form>

    <hr border='1'>
    {% for comments in comment.all %}
    <div class="comment">
        <div class="date">
            <strong>{{ comments.author }}</strong>
            {{ comments.created_date }}
        </div>
        <p>{{ comments.text|linebreaks }}</p>
    </div>
    <hr border='1'>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
    </div>
</body>