
{% load static %}

<html>
<head>
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!--웹페이지의 크기 지정, 웹 페이지의 크기가 스마트폰의 실제 액정 크기를 따라가도록,  보여지는 화면의 zoom up 정도를 1배율로,마지막은 사파리 브라우저에 사용되는 속성-->
  <meta name="description" content="">
  <!-- 이건 검색엔진에서 content 내용으로 검색했을 때 연관되어 뜰 수 있도록 하는 정보-->
  <meta name="author" content="">

  <title>KOREATECH FESTIVAL</title>

  <!-- bootstrap css, js link-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- static css file-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
  <!--searchbar link-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!--fontstylelink-->
  
  <link href="https://fonts.googleapis.com/css?family=Gugi&display=swap&subset=korean" rel="stylesheet">


<!--footer-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



</head>

<body style="background-color: black">
<div class = "menu" style="width: 80%; margin-left: 12%;">
    <form method="POST" action="{% url 'createPost'%}" enctype="multipart/form-data" name = "form1">
        {% csrf_token %}
        <div class="mb-3" style=" margin-left:55px;">
            <div class="row" style="height:50px;"></div>
            <br>
            <div class="form-group row">
            <font size="7em" color="white">찾아주세요!</font>
            </div>
            <div class="form-group row">
                <div class="col-10 col-form-label" >
                    <input type="text" class="form-control" name="title" placeholder="게시물 제목을 입력해주세요." style="font-size: 2em;"><br> 
                </div>
            
                <div class="col-10 col-form-label">
                    <textarea class="form-control"  rows="15" name="body" placeholder="본문 내용을 입력해주세요" style="font-size: 2em;"></textarea>
                </div>
            </div>
            <br>
           
            <div class="form-group row">
            <div class="col-10 col-form-label">
                <div name="filediv">
                    <label for="file" style="display: inline-block; padding: .5em .75em; color: #999; font-size: 1.3em; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em;">사진 업로드</label>
                    <input type="file" name="file" id="file" style="visibility: hidden"/>
                    
                </div>
                
                </div>

            </div>    
            
        </div>
        
        
        
        <div class="text-center" style="alig">
                <input class="btn btn-primary" style="width:200px; height:40px; background:#DE6262; border:1.5px solid #DE6262; font-family: 'Gugi', cursive; font-size:20px;" type="submit" value="등록">
                <a href="{% url 'home' %}" style="width:200px; height:40px; background:#DE6262; border:1.5px solid #DE6262; font-family: 'Gugi', cursive; font-size:20px;" class="btn btn-primary">뒤로가기</a>
        </div>

    </form>
</div>


</body>