{% load staticfiles %}
<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>KOREATECH FESTIVAL</title>
	<link rel="stylesheet" href="{% static 'style/sample.css' %}">
	<link rel="stylesheet" href="{% static 'style/buttons.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="{% static 'starlight/starlight.js' %}"></script>
    <script>
        setInterval(function(){
            var target = new Date('October 16, 00:00:00');
            var timer = new Date();
            var d = target.getDate()-timer.getDate();
            var s = 59- timer.getSeconds();
            var m = 59- timer.getMinutes();
            var h = 23 - timer.getHours();
        
            document.getElementById('clock').innerHTML = d + " Days ";
            if(h<10) document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + " 0" + h;
            else document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + " " + h;
            if(m<10)  document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + ":0" + m;
            else document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + ":" + m;
            if(s<10)  document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + ":0" + s;
            else document.getElementById('clock').innerHTML = document.getElementById('clock').innerHTML + ":" + s;
        },1000);
    </script>

    
    

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="starlight">
    <div class="wrapper">
        <div>
            <header id="header">
            <div class="container">
                <div id="logo" class="pull-left">
                    <a href="#hero"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
                    <!-- Uncomment below if you prefer to use a text logo -->
                    <!--<h1><a href="#hero">Regna</a></h1>-->
                </div>

                <nav id="navbar-example2" class="navbar navbar-light">
                    <ul class="nav nav-pills">
                    <li><a class="nav-link" href="#timer">타이머</a></li>
                    <li><a class="nav-link" href="#promotion">홍보물</a></li>
                    <li><a class="nav-link" href="#lineup">라인업</a></li>
                    <li><a class="nav-link" href="#lost">분실물</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->  
            </div>
            </header><!-- #header -->
        </div>
        <div data-spy="scroll" data-target="navbar-example2" data-offset="0">
        
        <section id="timer" class="sectionstyle">
        <p id="clock" style="font-size:500%; color:white;"></p>
        <h3 class="subtitle" style="color:#AAAAAA;">KOREATECH FESTIVAL 2019. 10. 17 ~ 18</h3>

            <script type="text/javascript"
                src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        </section>
        
        <section class="sectionstyle">
        <h1 id="promotion" class="title">KOREATECH FESTIVAL2</h1>
        </section>

        <section id="lineup" class="sectionstyle">
        <div class="row" style="margin:10%">
            <div class="col"><img src="{% static 'img/bol4.png' %}" alt="" title="" style="width:100% ; height:100%"/></div>
            <div class="col"><img src="{% static 'img/mondaykids.png' %}" alt="" title="" style="width:100%; height:100%;"/></div>
        </div>

        <section id="lost" class="sectionstyle">
        <div class="row" style="margin:10%;">
            <div class="col"><img src="{% static 'img/lostButton1.png' %}" alt="" title="" style="width:70%; height:100%; margin-left: 30%"/></div>
            <div class="col"><img src="{% static 'img/lostButton2.png' %}" alt="" title="" style="width:70%; height:100%; margin-right: 30%"/></div>
        </div>
        </section>
    </div>
    </div>
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
